.wrap{
  width: 1040px;
  margin:0 auto;
  overflow: hidden;
}
header{
  width: 1440px;
  height: 28px;
  margin:0 auto;
  font-size: 12px;
  line-height: 28px;
  font-weight: 400px;
  background-color: #545652;
  overflow: hidden;
  a{
    color:rgb(213, 213, 213)
  }
  .header-left{
    float: left;
    li{
      float: left;
      text-align: center;
      padding:0 12px;
    }
  }
  .header-right:extend(.header-left){
    float: right;
    margin-right: 12px;
    li{
      float: left;
      text-align: center;
      padding:0 8px;
      &:first-child{
        margin-right: 5px;
      }
    }
  }
}
.search{
  padding: 10px 0 0;
background-color: #f0f3f5;
position: relative;
margin-bottom: 40px;
  .top{
    overflow: hidden;
    border-bottom: 1px solid rgb(227, 235, 236);
    .logo{
      float: left;
      margin-right:13px;
      background: url('../../assets/logo.png') no-repeat  left 12px;
      a{
        display: block;
      width: 145px;
      height: 56px;
      }
    }
    .input{
      float: left;
      padding: 10px 0 15px 0;
      color: rgb(17,17,17);
      .ant-input-wrapper.ant-input-group{
        width: 507px;
        height: 30px;
      }
      .ant-input{
        padding: 0;
        padding-left: 10px;
        font-size: 13px;
        height: 32px;
      }
      .ant-input-group-addon{
        height: 30px;
      }
     .ant-input-search-button{
       padding: 0;
       background-color:none;
       width: 34px;
       height: 32px;
       border: none;
       background: url('../../assets/search-btn-bg.png') no-repeat 0 -40px;
       i{
         display: none;
       }
     }
    }
  }
  .bottom{
    ul{
      overflow: hidden;
      margin:9px 0 9px 0;
      li{
        float: left;
        font-size: 14px;
        margin-right: 25px;
        a{
          color:#27a;
        }
      }
    }
  }
  .rank{
    display: block;
    width: 186px;
    height: 96px;
    position: absolute;
    top:10px;
    left:50%;
    margin-left: 200px;
    background: url('../../assets/rankList.png') no-repeat center ;
    background-size: 100%;
  }
}
.content{
  margin-bottom: 76px;
  overflow: hidden;
  .content-left{
    width: 675px;
    float: left;
    .hot-title{
      padding-bottom: 10px;
      border-bottom: 1px solid #eaeaea;
      font-size: 13px;
      color: #9b9b9b;
      display: flex;
      align-items: center;
      position: relative;
      b{
        font-size: 16px;
        font-weight: normal;
        margin-right: 14px;
        color: #111;
      }
      a{
        position: absolute;
        right: 0;
        color:#37a;
        // &:visited{
        //   color: #666699;
        // }
      }
      ul{
        margin: 0;
        li{
          float: left;
          margin-right: 12px;
          
        }
        .active-li{
          color: #111;
        }
      }
    }
  }
  .content-right{
    float: right;
    .answer{
      width: 300px;
      height: 43px;
      padding: 12px 0 12px 18px;
      background: #f2f7f6;
      border-radius: 4px;
      margin-bottom: 20px;
      font-size:13px;
      a{
        &:link{
          color: #37a;
        }
        &:visited{
          color:#669;
        }
      }
    }
    .movie-activity{
      width: 300px;
      height: 110px;
      padding: 16px 0 16px 18px;
      margin-bottom: 20px;
      background-color: #f2f7f6;
      .activity-title{
        font-size: 16px;
        color: #072;
      }
      ul{
        li{
          margin-top: 8px;
          a{
            &:link{color:#37a;}
            &:visited{color: #669;}
          }
        }
      }
    }
    .billboard{
      width: 300px;
      margin-bottom: 20px;
      h2{
       font-size: 16px;
       font-weight: normal;
       padding-bottom: 10px;
       border-bottom: 1px solid rgb(234, 234, 234);
       margin-bottom: 5px;
       a{
         font-size: 13px;
         color: #37a;
         margin-left: 12px;
       } 
      }
      ul{
        li{
          padding: 7px 0;
          font-size: 13px;
          color: #111;
          border-bottom: 1px solid #eaeaea;
          span{
            display: inline-block;
            width: 35px;
            text-align: center;
          }
          a{
            color: #37a;
          }
        }
      }
    }
    #doulist{
      margin-bottom: 20px;
      h2{
        font-size: 16px;
        color: #111;
        margin-bottom: 10px;
      }
      ul{
        border-top:1px solid #eee;
        li{
          padding: 15px 0;
          border-bottom: 1px solid #eee;
          overflow: hidden;
          font-size: 13px;
          span{
            float: right;
            color: #999;
          }
          .title{
            width: 247px;
            a{
              color:#37a;
            }
          }
        }
      }
    }
    .contact-and-cooperation{
      margin-bottom: 20px;
      h2{
        font-size: 16px;
        color: #111;
        margin-bottom: 18px;
        padding-bottom: 10px;
        border-bottom:1px solid #eee;
      }
      ul{
        
        li{
          line-height: 24px;
          font-size: 13px;
          img{
            height: 14px;
            width: auto;
            vertical-align: middle;
          }
          .new{
            height: 9px;
            margin-left: 2px;
          }
        }
      }
    }
    .contact-mod{
      h2{
        font-size: 16px;
        color: #111;
        margin-bottom: 10px;
      }
      .embassy-list{
        position: relative;
        li{
          width: 60px;
          float: left;
          text-align: center;
          a:first-child{
            width: 40px;
            height: 40px;
            display: block;
            background-size: 100%;
            margin: 0 auto 5px;
          }
          .primary-link{
            font-size: 13px;
            color:#37a;
          }
          .icon-embassy-weibo{
            background: url('../../assets/home_weibo.png') no-repeat center;
          }
          .icon-embassy-weixin{
            position: relative;
            background: url('../../assets/home_weixin.png') no-repeat center;
            &:hover{
              .hover{
                display: block;
              }
            }
            .hover{
              position: absolute;
              left: -10px;
              top:64px;
              display:none;
              img{
                width: 130px;
                height: 130px;
              }
            }
          }
          .icon-embassy-bite-me{
            background: url('../../assets/bite_me@2x.jpg') no-repeat center;
          }
          .icon-embassy-film-pro{
            background: url('../../assets/home_film_pro@2x.jpg') no-repeat center;
          }
          .icon-embassy-club-site{
            background: url('../../assets/home_club@2x.jpg') no-repeat center;
          }
        }
      }
    }
  }
}